body {
    margin: 0;
    background: lightblue;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background:
            radial-gradient(
                    transparent 21%, rgba(233,233,246, .8) 21%,
                    rgba(233,233,246, .8) 22%,transparent 28%),
            radial-gradient(
                    transparent 36%,rgba(233,233,246, .8) 40%,
                    rgba(233,233,246, .8) 42%,transparent 50%),
            radial-gradient(
                    transparent 60%,rgba(233,233,246, .8) 65%,
                    rgba(233,233,246, .8) 66%,transparent 70%);
    background-size:0 0,0 0,0 0;
    background-position:center;
    background-repeat:no-repeat;
    animation:change 5s linear infinite;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a0d3d9;
    position: absolute;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100px);
    }
}

@keyframes change{
    0% {
        background-size:0 0,0 0,0 0;
    }
    25% {
        background-size:0 0,0 0,30% 30%;
    }
    50% {
        background-size:10% 10%,40% 40%,60% 60%;
    }
    75% {
        background-size:100% 100%,100% 100%,100% 100%;
    }
    100% {
        background-size:100% 100%,100% 100%,100% 100%;
    }
}